@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

:root {
    // Cores primárias
    --primary: hsl(26, 100%, 55%);
    --primary-n: hsl(25, 100%, 94%);

    // Cores neutras
    --darkblue: hsl(220, 13%, 13%);
    --gray-p:  hsl(219, 9%, 45%);
    --gray: hsl(220, 14%, 75%);
    --gray-n: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

li {
    list-style: none;
    cursor: pointer;
}